{% assign overlay = include.overlay %}

<!-- Carbon Standard Title and Legend -->
<header class="flex flex-col lg:flex-row justify-between leading-tight lg:items-center py-4 px-4 gap-2 lg:gap-0 bg-white dark:bg-black/30">
  <div>
    <h2 class="text-2xl lg:text-3xl font-medium">Technology Carbon Standard</h2>
  </div>
  <div class="flex flex-col gap-1">
    <div class="flex h-8 gap-2 items-center">
      <div class="relative h-full w-24 flex border border-white rounded overflow-hidden">
        <div class="cat-u size-full"></div>
        <div class="cat-o size-full"></div>
        <div class="cat-g size-full"></div>
        <div class="cat-c size-full"></div>
        <div class="cat-d size-full"></div>
        <div class="absolute left-1/2 transform -translate-x-1/2 text-white">Category</div>
      </div>
      <div class="h-8">Carbon Standard Category</div>
    </div>
    <div class="flex h-8 gap-2">
      <div class="flex items-center justify-center w-24 h-full bg-charcoal-50 rounded border border-white font-medium text-sm dark:text-charcoal">1/2/3</div>
      <div>GHG Protocol Scope</div>
    </div>
  </div>

</header>

<div class="flex flex-col lg:flex-row not-prose">

  <!-- UPSTREAM EMISSIONS -->
  <div class="flex flex-col lg:w-1/4">
    <div class="flex">
      <div class="grow flex flex-col justify-center h-[4rem] px-2 py-2 cat-u">
        <div class="relative">
          <h3 class="pl-2 mb-0 text-xl font-medium text-white"><a class="text-inherit hover:text-inherit hover:opacity-80" href="/categories/upstream">Upstream Emissions</a></h3>
          <div class="absolute right-0 top-8">
            {% include categoryLabel.html label="CatU" %}
          </div>
        </div>
      </div>
      <!-- ARROW RIGHT: hidden on smaller screens -->
      <div class="hidden lg:block w-0 h-0 z-10 cat-u-arrow-right"></div>
    </div>
    <div class="h-full lg:mr-[2rem] px-4 pt-4 pb-2 cat-u-body">

      <h4 class="mt-4 mb-2 text-lg font-medium">Software</h4>
      {% include categoryItem.html
        item="CatUSoftware"
        selected=overlay.CatUSoftware.selected
        description=overlay.CatUSoftware.description
        noLink=overlay.CatUSoftware.noLink
        link=overlay.CatUSoftware.link
      %}

      <h4 class="mt-4 mb-2 text-lg font-medium">Hardware Manufacture, Transport and Installation</h4>
      {% include categoryItem.html
        item="CatUEmployeeHardware"
        selected=overlay.CatUEmployeeHardware.selected
        description=overlay.CatUEmployeeHardware.description
        noLink=overlay.CatUEmployeeHardware.noLink
        link=overlay.CatUEmployeeHardware.link
      %}
      {% include categoryItem.html
        item="CatUNetworkHardware"
        selected=overlay.CatUNetworkHardware.selected
        description=overlay.CatUNetworkHardware.description
        noLink=overlay.CatUNetworkHardware.noLink
        link=overlay.CatUNetworkHardware.link
      %}
      {% include categoryItem.html
        item="CatUServerHardware"
        selected=overlay.CatUServerHardware.selected
        description=overlay.CatUServerHardware.description
        noLink=overlay.CatUServerHardware.noLink
        link=overlay.CatUServerHardware.link
      %}
    </div>
    <!-- ARROW DOWN: visible on smaller screens -->
    <div class="w-full lg:hidden h-0 cat-u-arrow-down"></div>
  </div>

  <!-- OPERATIONAL EMISSIONS -->
  <div class="flex flex-col lg:w-2/4">
    <div class="flex">
      <div class="grow flex flex-col justify-center h-[4rem] lg:-ml-[2rem] px-2 py-2 cat-o">
        <h3 class="lg:pl-[3rem] mb-0 text-xl font-medium"><a class="text-inherit hover:text-inherit hover:opacity-80" href="/categories/operational">Operational Emissions</a></h3>
      </div>
      <!-- ARROW RIGHT: hidden on smaller screens -->
      <div class="hidden lg:block w-0 h-0 z-10 cat-o-arrow-right"></div>
    </div>
    <div class="h-full lg:-ml-[2rem] lg:mr-[2rem] px-4 pt-4 pb-2 cat-o-body">

      <div class="flex flex-col lg:flex-row gap-4 mt-4">

        <!-- DIRECT (Category O) -->
        <div class="w-full relative px-2 py-2 border-2 border-white rounded-md">
          <h4 class="mb-2 text-lg font-medium">Direct</h4>
          <div class="absolute right-2 -top-2">
            {% include categoryLabel.html label="CatO" %}
          </div>
          {% include categoryItem.html
            item="CatOUserDevices"
            selected=overlay.CatOUserDevices.selected
            description=overlay.CatOUserDevices.description
            noLink=overlay.CatOUserDevices.noLink
            link=overlay.CatOUserDevices.link
          %}
          {% include categoryItem.html
            item="CatONetworkDevices"
            selected=overlay.CatONetworkDevices.selected
            description=overlay.CatONetworkDevices.description
            noLink=overlay.CatONetworkDevices.noLink
            link=overlay.CatONetworkDevices.link
          %}
          {% include categoryItem.html
            item="CatOServers"
            selected=overlay.CatOServers.selected
            description=overlay.CatOServers.description
            noLink=overlay.CatOServers.noLink
            link=overlay.CatOServers.link
          %}

          <!-- DIRECT (Category G) -->
          <div class="relative top-2">
            <hr class="border-white mb-2">
            <div class="absolute right-2 -top-2">
              {% include categoryLabel.html label="CatG" %}
            </div>
            {% include categoryItem.html
              item="CatGGenerators"
              selected=overlay.CatGGenerators.selected
              description=overlay.CatGGenerators.description
              noLink=overlay.CatGGenerators.noLink
              link=overlay.CatGGenerators.link
            %}
          </div>
        </div>

        <!-- INDIRECT (Category C) -->
        <div class="w-full relative px-2 py-2 border-2 border-white rounded-md">
          <h4 class="mb-2 text-lg font-medium">Indirect</h4>
          <div class="absolute right-2 -top-2">
            {% include categoryLabel.html label="CatC" %}
          </div>
          {% include categoryItem.html
            item="CatCCloud"
            selected=overlay.CatCCloud.selected
            description=overlay.CatCCloud.description
            noLink=overlay.CatCCloud.noLink
            link=overlay.CatCCloud.link
          %}
          {% include categoryItem.html
            item="CatCSaas"
            selected=overlay.CatCSaas.selected
            description=overlay.CatCSaas.description
            noLink=overlay.CatCSaas.noLink
            link=overlay.CatCSaas.link
          %}
          {% include categoryItem.html
            item="CatCManaged"
            selected=overlay.CatCManaged.selected
            description=overlay.CatCManaged.description
            noLink=overlay.CatCManaged.noLink
            link=overlay.CatCManaged.link
          %}
        </div>
      </div>
    </div>

    <!-- ARROW DOWN: visible on smaller screens -->
    <div class="w-full lg:hidden h-0 cat-o-arrow-down"></div>
  </div>

  <!-- DOWNSTREAM EMISSIONS -->
  <div class="flex flex-col lg:w-1/4">
    <div class="flex">
      <div class="grow flex flex-col justify-center h-[4rem] lg:-ml-[2rem] px-2 py-2 cat-d">
        <div class="relative">
          <h3 class="lg:pl-[3rem] mb-0 text-xl font-medium"><a class="text-inherit hover:text-inherit hover:opacity-80" href="/categories/downstream">Downstream Emissions</a></h3>
          <div class="absolute right-0 top-8">
            {% include categoryLabel.html label="CatD" %}
          </div>
        </div>
      </div>
    </div>
    <div class="h-full lg:-ml-[2rem] px-4 pt-4 pb-2 cat-d-body">
      <!-- <p>Carbon associated with the use of products and services produced by the business.</p> -->

      <h4 class="mt-4 mb-2 text-lg font-medium">End Use (B2B, B2C)</h4>
      {% include categoryItem.html
        item="CatDEndUserDevices"
        selected=overlay.CatDEndUserDevices.selected
        description=overlay.CatDEndUserDevices.description
        noLink=overlay.CatDEndUserDevices.noLink
        link=overlay.CatDEndUserDevices.link
      %}
      {% include categoryItem.html
        item="CatDNetworkDataTransfer"
        selected=overlay.CatDNetworkDataTransfer.selected
        description=overlay.CatDNetworkDataTransfer.description
        noLink=overlay.CatDNetworkDataTransfer.noLink
        link=overlay.CatDNetworkDataTransfer.link
      %}
      {% include categoryItem.html
        item="CatDInfrastructure"
        selected=overlay.CatDInfrastructure.selected
        description=overlay.CatDInfrastructure.description
        noLink=overlay.CatDInfrastructure.noLink
        link=overlay.CatDInfrastructure.link
      %}
    </div>
  </div>

</div>
